@font-face {
  font-family: SpartanMB;
  src: url(../font/SpartanMB-Extra-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SpartanMB;
  src: url(../font/SpartanMB-Regular.otf);
  font-weight: normal;
}

$font: "SpartanMB";
$colors: (
  main-bg: rgb(250, 250, 250),
  null: rgba(0, 0, 0, 0),
  lighestGray: #f8f8fa,
  lightGray: #a5acba,
  light: #ffffff,
  "dark": #000000,
  link: #428bca,
  linkHover: #555,
  navBlue: #7ac243,
  navGreen: #009cdc,
);

* {
  box-sizing: border-box;
}

body,
main {
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  font-family: $font;
  margin: 0;
  padding: 0;
  .btn-fwd,
  .btn-back {
    position: fixed;
    top: 50vh;
  }

  .btn-fwd {
    right: 20px;
  }

  .btn-back {
    left: 20px;
  }
  #container {
    text-align: center;
    background: rgb(250, 250, 250);

    min-height: 101vh;
    padding: 0px 15px;
  }
}

nav {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgb(250, 250, 250);
  box-shadow: 0px -3px 6px -5px rgba(51, 51, 51, 0.4);
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  a {
    width: 25%;
    color: rgb(130, 130, 130);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    &:active {
      background: rgba(0, 0, 0, 0.3);
    }
    figure {
      margin: 0;
    }
    img {
      text-align: center;
      width: 35px;
    }
  }
}

a {
  text-decoration: none;
  color: map-get($colors, "dark");
}

.logo-main {
  margin-top: 8rem;
  max-width: 90%;
  max-height: 250px;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 250, 250, 1);
  .load-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);
    background-image: url("../img/svgs/n-home-on.svg");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
    -webkit-animation: ping 0.8s ease-in-out infinite both;
    animation: ping 0.8s ease-in-out infinite both;
  }
}
