@import 'config';
@import 'utils';
* { 
  box-sizing: border-box;
}
body,
main {
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  font-family: $font;
  margin: 0;
  padding: 0;
  background: map-get($colors, app-white );
  h1 {
    @include font-size($h1-font-sizes);
  }
  h2 {
    @include font-size($h2-font-sizes);
  }
  p {
    @include font-size($p-font-sizes);
  }
  .btn-fwd {
    right:calc(15px + 3vw);
    @include mq('desktop-wide') {
      right:calc(10px + 6vw);
    } 
  } 
  .btn-back { 
    left:calc(15px + 3vw);
    @include mq('desktop-wide') {
      left:calc(10px + 6vw);
    } 
  }
  .btn-fwd,
  .btn-back { 
    @extend %btn;
    position: fixed; 
    display: none;
    font-size: 0;
    padding: 0;
    top: calc(50vh - 30px - .5vw);
    width:calc(65px + .25vw);
    height:calc(65px + .25vw);
    z-index: 2;
    outline: none; 
    background: rgb(0, 0, 0);
    border: 1px solid map-get($colors, dark-2 );
    border-radius: 50%;
    @include mq('tablet-wide') {
      display: block;
    } 
    @include mq('tablet-wide') {
      max-width: calc(65px + .25vw);
    } 
    svg {
      @extend %btn;
      background: map-get($colors, dark-2 );
      border: 0px solid rgba(150, 150, 150, 0);
      border-radius: 50%;
      width: calc(65px + .25vw);
      height: calc(65px + .25vw);
    }
    path {
      fill: lighten(map-get($colors, app-white ), 10%);
    }
    &:active:not([disabled]),
    &:hover:not([disabled]) {
      svg, path {
        -moz-transition: map-get($animations, transition-1);
        -o-transition: map-get($animations, transition-1);
        -webkit-transition: map-get($animations, transition-1);
        transition: map-get($animations, transition-1);
      }
      svg {
        background: map-get($colors, dark );
      }
      path {
        fill: map-get($colors, app-white ); 
      }
    }
  }
  
  #container {
    text-align: center;
    background: map-get($colors, app-white );
    min-height: 100vh;
  }
}
footer {
  display: none;
  text-align: center;
  background: map-get($colors, dark-2 );
  color: map-get($colors, app-white );
  margin-top: 15vh;
  h2 {
    font-weight: normal;
  }
  p {
    font-weight: 400;
    font-style: italic;
    color: darken(map-get($colors, app-white ), 10%);
    @include font-size($h3-font-sizes);
    &:last-child {
      padding-bottom: calc(80px + 7vh);
    }
  }
  .icons-list {
  width: 100%;
  padding: 7vh 0 5vh;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  @include mq('tablet') {
    width: 70%;
    margin-left: 15%;
  } 
  img {
    width: calc(35px + 1.8vw);
    text-decoration: none;
  }
}
}
a {
  @extend %btn;
  font-weight: bold;
  color: map-get($colors, "dark");
} 
nav {
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%; 
  background: map-get($colors, app-white );
  box-shadow: 0px -3px 6px -5px rgba(51, 51, 51, 0.4);
  @include mq('desktop-wide') {
    ul {
      margin: 15px 5vw;
      a {
        font-size: 15px;
        font-weight: 550;
        figure {
          img {
            width: 42px;
          }
        }
      }
    }
  }  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  a {
    width: 25%;
    color: rgb(130, 130, 130);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    &:active {
      background: rgba(0, 0, 0, 0.3);
    }
    figure {
      margin: 0;
    }
    img {
      text-align: center;
      width: 35px;
    }
  }
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh; 
  background-color: map-get($colors, app-white );
  .load-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);
    background-image: url("../img/svgs/n-home-on.svg");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
    -o-animation: map-get($animations, ping);
    -moz-animation: map-get($animations, ping);
    -webkit-animation: map-get($animations, ping);
    animation: map-get($animations, ping);
  }
} 
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
} 
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
  border: 2px none #000000;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-track {
  background: none;
  border: 1px none #000000;
}
::-webkit-scrollbar-track:hover {
  background: none;
}
::-webkit-scrollbar-track:active {
  background: none;
}
::-webkit-scrollbar-corner {
  background: transparent;
}