//  HOME
$homeFonts: (
  mobile-1: 20px,
  mobile-2: 18px,
  mobile-3: 15px,
  tablet-1: 20px,
  tablet-2: 18px,
  tablet-3: 15px,
  desk-1: 20px,
  desk-2: 18px,
  desk-3: 15px
);

// contact
.icons-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  img {
    width: 35px;
    text-decoration: none;
  }
}
