@import 'config';
@import 'utils';
// All Routes
.route { 
  overflow-x: hidden;
  margin: 0;
  -o-animation: map-get($animations, fade-in);
  -moz-animation: map-get($animations, fade-in);
  -webkit-animation: map-get($animations, fade-in);
  animation: map-get($animations, fade-in);
  padding: 0px 5vw 5vh;
  margin: 0;
  @include mq('tablet-med') {
    padding: 0 15vw;
  }
  h1:first-child {
    margin-bottom: 10vh;
    @include mq('tablet-med') {
      margin-bottom: 15vh; 
    }
  }
}

.l {
  -moz-animation: map-get($animations, from-left);
  -o-animation: map-get($animations, from-left);
  -webkit-animation: map-get($animations, from-left);
  animation: map-get($animations, from-left);
}

.r {
  -o-animation: map-get($animations, from-right);
  -moz-animation: map-get($animations, from-right);
  -webkit-animation: map-get($animations, from-right);
  animation: map-get($animations, from-right);
}

//  HOME
.home-pg {
  .logo-main {
    margin-top: 15vh;
    max-width: 90%;
    max-height: 250px;
    @include mq('tablet-med') {
      max-width: 85%;
    }
  }
  .big-h {
    @include font-size($bigh-font-sizes);
    font-weight: normal;
  }
  .min-txt {
    font-family: $font-hand;
    font-weight: 300;
    @include font-size($h1-font-sizes);
    @include mq('tablet-med') {
      display: none;
    }
  }
  .btn-resume,
  .btn-contact {
    @extend %btn;
    background: none;
    margin: 0.5rem;
    padding: 10px 20px;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    font-weight: normal;
    @include font-size($h2-font-sizes);
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0%; 
      left: 0;
      background: black;
      color: rgb(250, 250, 250);
      height: 100%;
      width: 100%;
    }
    &::before,
    & > span {
      padding: 10.5px 0;
      -moz-transition: map-get($animations, transition-1);
      -o-transition: map-get($animations, transition-1);
      -webkit-transition: map-get($animations, transition-1);
      transition: map-get($animations, transition-1);
    }
    &:hover::before {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &:hover > span {
      -moz-transition: transform .4s;
      -o-transition: transform .4s;
      -webkit-transition: transform .4s;
      transition: transform 0.4s;
    }
  }
  .btn-resume::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .btn-contact::before {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
  .btn-resume {
    margin-bottom: 12vh;
  }
}

// about 
.about-pg {
  .min-txt {
    font-family: $font-hand;
    font-weight: 300;
    @include font-size($h2-font-sizes);
  } 
  .about-pic-1, .about-pic-2, .about-pic-3 {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    @include mq('tablet-med') {
      margin: 20px;
    }
  } 
  .responsive {
    @include mq('tablet-med') {
     display: none; 
    }
  }
  .about-pic-1 {
    width: calc(220px + 3vw);
    position: relative;
    @include mq('phablet') {
      width: calc(270px + 14vw);
    }
    @include mq('tablet-med') {
      width: 22vw;
      position: relative;
      top: -3vw;
      margin: 20px auto 0px;
    }
  }
  .about-pic-2 {
    width: calc(140px + 3vw);
    position: relative;
    top: 10px;
    @include mq('phablet') {
    width: calc(180px + 12vw);
    }
    @include mq('tablet-med') {
      width: 22vw;
      top: 0;
    }
  }
  .about-pic-3 {
    width: calc(100px + 3vw);
    position: relative;
    top: 16px;
    @include mq('phablet') {
      width: calc(90px + 12vw);
      top: calc(10px + 2vw);
    }
    @include mq('tablet-med') {
      width: 22vw;
      top: 0;
    }
  } 
  .img-controls {
    margin: 10px auto 50px;
    width: 70%;
    position: relative;
    @include mq('tablet-med') {
      width: 60%;   
      margin: 0 auto 50px;
      top: 0;
    } 
    .hue-value{
      position: absolute;
      bottom: -10px;
      span{
        width: 60px;
        height: 35px;
        line-height: 30px;
        text-align: center;
        background: #fff;
        color: #000;
        font-size: 18px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border: 2px solid #000;
        border-radius: 6px;
        &:before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-bottom: 10px solid #000000;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          bottom: calc(100% + 2px);
          left: 50%;
          margin-left: -5px;
          margin-top: 1px;
        }
      }
    }
    input[type=range] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000;
        background: #000000;
        border-radius: 5px;
        border: 1px solid #000000;
      }
      &::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1.5px solid #000000;
        height: 23px;
        width: 44px;
        border-radius: 6px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
      }
      &:focus::-webkit-slider-runnable-track {
        background: #000000;
      }
      &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000;
        background: #000000;
        border-radius: 5px;
        border: 1px solid #000000;
      }
      &::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 23px;
        width: 44px;
        border-radius: 6px;
        background: #FFFFFF;
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: #000000;
        border: 1px solid #000000;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;
      }
      &::-ms-fill-upper {
        background: #000000;
        border: 1px solid #000000;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;
      }
      &::-ms-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 23px;
        width: 44px;
        border-radius: 6px;
        background: #FFFFFF;
        cursor: pointer;
      }
      &:focus::-ms-fill-lower {
        background: #000000;
      }
      &:focus::-ms-fill-upper {
        background: #000000;
      }
    }
  }
  .accordion {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    border: 1px solid map-get($colors, dark );
    margin-top: 15vh;
    .accordion-label {
      width: 100%;
      order: initial;
      margin-right: 0;
      padding: 5% 6% 5% 6%;
      border: 1px solid lighten(map-get($colors, dark-2), 40%);
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      @include font-size($h2-font-sizes);
      @include mq('tablet-wide') {
        flex-grow: 1;
        padding: 1% 5%;
        width: 33%;
        justify-content: center;
        border: 2px solid lighten(map-get($colors, dark-2), 40%);
        border-bottom: 2px solid map-get($colors, dark-2); 
      } 
      .tab-open {
        display: inline;
      }
    }
    .a-content {
      text-align: justify;
      order: initial;
      flex-direction: column;
      order: initial;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      padding: 5% 5% 6%;
      display: none;
      @include mq('tablet-wide') {
        order: 1;
        flex-direction: none;
      } 
      ul {
        list-style-type: none; 
        text-align: left;
      }
    }
    input[type="radio"] {
      display: none;
      & + label {
        z-index: 1;
      }
      & + label .tab-open:after {
        content: "—";
      }
      &:checked + label {
        border: 2px solid map-get($colors, dark-2 );
        border-bottom: none;
        @include mq('tablet-wide') {
          border: 2px solid map-get($colors, dark-2 );
          border-bottom: none;  
        }
      }
      &:checked + label .tab-open:after {
        content: '+';
      }
      &:checked + label + .accordion {
        border: none;
      }
      &:checked + label + .a-content {
        display: flex;
        border: 2px solid map-get($colors, dark);
        border-top: none;
        margin-right: 0;
        & > * {
          -o-animation: map-get($animations, fade-in);
          -moz-animation: map-get($animations, fade-in);
          -webkit-animation: map-get($animations, fade-in);
          animation: map-get($animations, fade-in);
        }
      }  
      & + label .tab-open {
        @include mq('tablet-wide') {
          display: none;
        }        
      }     
    }
    .story {
      figure {
        width: 100%;
        text-align: center;
        margin: 0 0 5vh;
        img {
          position: relative;
          left: 10px;
          top: 20px;
          width: 80%;
          max-width: 700px;
        }
        figcaption {
          font-style: italic;
          position: relative;
          color: lighten(map-get($colors, dark), 30%);
          @include font-size($p-font-sizes);
        }
      }
      p {
        width: 100%;
        margin: 5vh auto; 
        @include font-size($p-font-sizes);
        @include mq('phone-wide') {
          width: 80%;   
          margin-left: 10%;
          text-indent: 10%;
        } 
      }
    }
    .vision {
      width: 100%;
      text-align: left;
      ol {
        list-style-position: inside;
        @include font-size($p-font-sizes);
      }
      h2 {
        text-align: center;
      }
      img {
        margin: 20px auto;
        max-width: calc(50px + 1vw);
        position: relative;
        top: 10px;
      }
    }
    .skills {
      ul {
        @include font-size($p-font-sizes);
      }
    }
  }
  }



// works + bytes
.filter-bytes, .filter-works {
  margin-bottom: 50px; 
}

// compiled styles added to shadow style tag
.works-list, .bytes-list {
  list-style-type: none;
  padding-left: 0;
  .filter-works {
    .filter-btn  {
      -webkit-tap-highlight-color: rgba(201, 224, 253, 0);
      visibility: visible;
      user-select: none;
      list-style: none;
      box-sizing: border-box;
      display: inline-block;
      color: #fafafa;
      background-color: #787878;
      border: 1px solid #646464;
      border-width: 1px 1px 2px 1px;
      border-radius: 3px;
      font-family: MontSerrat,Tahoma,Arial,sans-serif;
      font-weight: 700;
      font-size: .9em;
      line-height: 1.5em;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
      margin: 3px;
      opacity: 1;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      padding: 6px 5px;
    }
    .selected {
      background-color: rgb(65, 65, 65);
      border-color: rgb(34, 34, 34);
    }
  }
  .work-info, .byte-info {
    list-style-type: none; 
    padding-left: 0;   
  }
  .work-preview-1 {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.contact-pg {
  .contact-forms {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    .form-content {
      order: initial;
      flex-direction: column;
      order: initial;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      display: none;
      padding: 7vh 5%; 
      @include mq('tablet-wide') {
        order: 1;
        flex-direction: none;
      } 
      h3 {
      font-weight: bold;
      @include font-size($h3-font-sizes);
      }
      label {
        @include font-size($h3-font-sizes);
      }
      fieldset {
        border: none;
      }
      .gen-status, .tutor-status, .hire-status {
        height: auto;
        padding: 5px;
        width: 80%; 
        margin: -4vh 10% 5vh;
        border: 0px solid map-get($colors, dark-2);
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        @include mq('tablet-wide') {
          width: 60%;
          margin-left: 20%;
        } 
        &:empty {
          height: 0;
          width: 0;
          margin: 0;
          padding: 0;
          border: none;
        }
        .success, .err {
          font-size: 35px;
          height: 45px;
          width: 45px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: auto 10px;
          border: 1px solid map-get($colors, null);
          color: map-get($colors, app-white);
          border-radius: 50%;
        }
        .msg {
          justify-self: center;
          text-align: left;
          p {
            margin: 0;
          }
          p:first-child {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            @include font-size($h3-font-sizes);
          }
        }
        .success{
          background: map-get($colors, success);
        }
        .err {
          background: map-get($colors, err);
        }
      }
      .success-status {
        border-left: 7px solid map-get($colors, success);
      }
      .err-status {
        border-left: 7px solid map-get($colors, err);
      }      
    }
    .form-label {
      width: 100%;
      order: initial;
      margin-right: 0;
      padding: 5% 6% 5% 6%;
      border: 1px solid lighten(map-get($colors, dark-2), 40%);
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      @include font-size($h2-font-sizes);
      @include mq('tablet-wide') {
        flex-grow: 1;
        padding: 1% 5%;
        width: 33%;
        justify-content: center;
        border: 2px solid lighten(map-get($colors, dark-2), 40%);
        border-bottom: 2px solid map-get($colors, dark-2); 
      } 
      .form-open {
        display: inline;
      }
    }
    input[type="radio"] {
      display: none;
      & + label {
        z-index: 1;
      }
      & + label span:after {
        content: "—";
      }
      &:checked + label {
        border: 2px solid map-get($colors, dark-2 );
        border-bottom: none;
        @include mq('tablet-wide') {
          border: 2px solid map-get($colors, dark-2 );
          border-bottom: none; 
        }
      }
      &:checked + label span:after {
        content: '+';
      }
      &:checked + label + .contact-forms {
        border: none;
      }
      &:checked + label + .form-content {
        display: flex;
        border: 2px solid map-get($colors, dark);
        border-top: none;
        margin-right: 0;
        & > * {
          -o-animation: map-get($animations, fade-in);
          -moz-animation: map-get($animations, fade-in);
          -webkit-animation: map-get($animations, fade-in);
          animation: map-get($animations, fade-in);
        }
      }     
      & + label .form-open {
        @include mq('tablet-wide') {
          display: none;
        }        
      } 
    }
    h2 {
      font-weight: normal;
    }
  }
}