//  HOME
$homeFonts: (
  mobile-1: 20px,
  mobile-2: 18px,
  mobile-3: 15px,
  tablet-1: 20px,
  tablet-2: 18px,
  tablet-3: 15px,
  desk-1: 20px,
  desk-2: 18px,
  desk-3: 15px
);

// contact
.icons-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  img {
    width: 35px;
    text-decoration: none;
  }
}

// about
.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  .a__radio {
    display: none;
  }
  .a__label {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-top: 1px solid black;
    position: relative;

    &::after {
      content: "+";
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 16px;
    }
  }
  .a__content {
    display: none;
    transition: all 0.3s;
  }

  input[type="radio"]:checked + label.a__label::after {
    content: "_";
    top: 8px;
  }
  input[type="radio"]:checked + label + .a__content {
    display: block;
    padding: 15px;
    line-height: 1.5;
    font: normal normal 14px/1 "Open Sans";
    text-align: center;
    -webkit-animation: expand-down 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: expand-down 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
label:first-of-type {
  border-top: none;
}
