@import 'config';
@import 'utils';
// All Routes
.route { 
  overflow-x: hidden;
  margin: 0;
  -o-animation: map-get($animations, fade-in);
  -moz-animation: map-get($animations, fade-in);
  -webkit-animation: map-get($animations, fade-in);
  animation: map-get($animations, fade-in);
  padding-bottom: 100px; 
  .min-txt {
    font-family: $font-hand;
  }
}

.l {
  -moz-animation: map-get($animations, from-left);
  -o-animation: map-get($animations, from-left);
  -webkit-animation: map-get($animations, from-left);
  animation: map-get($animations, from-left);
}

.r {
  -o-animation: map-get($animations, from-right);
  -moz-animation: map-get($animations, from-right);
  -webkit-animation: map-get($animations, from-right);
  animation: map-get($animations, from-right);
}

//  HOME
.home-pg {
  .min-txt {
    margin-top: 16vw;
  }
  .btn-resume,
  .btn-contact {
    @extend %btn;
    background: none;
    font-size: 20px;
    margin: 0.5rem;
    width: 120px;
    height: 45px;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    font-weight: bold;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: -15%; 
      left: 0;
      background: black;
      color: rgb(250, 250, 250);
      height: 100%;
      width: 100%;
    }
    &::before,
    & > span {
      padding: 10.5px 0;
      -moz-transition: map-get($animations, transition-1);
      -o-transition: map-get($animations, transition-1);
      -webkit-transition: map-get($animations, transition-1);
      transition: map-get($animations, transition-1);
    }
    &:hover::before {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &:hover > span {
      -moz-transition: transform .4s;
      -o-transition: transform .4s;
      -webkit-transition: transform .4s;
      transition: transform 0.4s;
    }
  }
  .btn-resume::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .btn-contact::before {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

// contact
.icons-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  img {
    width: 35px;
    text-decoration: none;
  }
}

// about 
.about-pg {
  .about-pic-1, .about-pic-2, .about-pic-3 {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
  } 
  .about-pic-1 {
    width: calc(240px + 14vw);
    max-width: 720px;
    position: relative;
  }
  .about-pic-2 {
    width: calc(180px + 14vw);
    max-width: 540px;
    position: relative;
  }
  .about-pic-3 {
    width: calc(90px + 14vw);
    max-width: 270px;
    position: relative;
  } 
  .img-controls {
    margin-top: 50px;
    width: 100%;
    position: relative; 
    .hue-value{
      position: absolute;
      top: -135%;
      span{
        width: 60px;
        height: 35px;
        line-height: 30px;
        text-align: center;
        background: #fff;
        color: #000;
        font-size: 18px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border: 2px solid #000;
        border-radius: 6px;
        &:before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 10px solid #000000;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          margin-top: 1px;
        }
      }
    }
    input[type=range] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000;
        background: #000000;
        border-radius: 5px;
        border: 1px solid #000000;
      }
      &::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 23px;
        width: 44px;
        border-radius: 6px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
      }
      &:focus::-webkit-slider-runnable-track {
        background: #000000;
      }
      &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000;
        background: #000000;
        border-radius: 5px;
        border: 1px solid #000000;
      }
      &::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 23px;
        width: 44px;
        border-radius: 6px;
        background: #FFFFFF;
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: #000000;
        border: 1px solid #000000;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;
      }
      &::-ms-fill-upper {
        background: #000000;
        border: 1px solid #000000;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;
      }
      &::-ms-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 23px;
        width: 44px;
        border-radius: 6px;
        background: #FFFFFF;
        cursor: pointer;
      }
      &:focus::-ms-fill-lower {
        background: #000000;
      }
      &:focus::-ms-fill-upper {
        background: #000000;
      }
    }
  }
  }

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  .btn-a {
    @extend %btn;
    width: 100%;
    padding: 25px;
    // border-top: 1px solid black;
    position: relative;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: bold;

    &::after {
      font-weight: normal;
      cursor: pointer;
      content: "+";
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 35px;
    }
  }
  .open {
    &::after {
      content: "_";
      top: 1px;
    }
  }
  .a-content {
    display: none;
    transition: all 0.3s;
    ul {
      list-style-type: none;
      text-align: left;
      // padding-left: 0;
    }
  }
  .values {
    width: 100%;
    text-align: left;
    ol {
      // padding-left: 0;
      list-style-position: inside;
    }
  }
  .open-content {
    display: block;
    -o-animation: map-get($animations, expand-down);
    -moz-animation: map-get($animations, expand-down);
    -webkit-animation: map-get($animations, expand-down);
    animation: map-get($animations, expand-down);
  }
  .close-content {
    display: none;
    -o-animation: map-get($animations, fold-up);
    -moz-animation: map-get($animations, fold-up);
    -webkit-animation: map-get($animations, fold-up);
    animation: map-get($animations, fold-up);
  }
}


// works + bytes
.filter-bytes, .filter-works {
  margin-bottom: 50px;
}

// compiled styles added to shadow style tag
.works-list, .bytes-list {
  list-style-type: none;
  padding-left: 0;
  .filter-works {
    .filter-btn  {
      -webkit-tap-highlight-color: rgba(201, 224, 253, 0);
      visibility: visible;
      user-select: none;
      list-style: none;
      box-sizing: border-box;
      display: inline-block;
      color: #fafafa;
      background-color: #787878;
      border: 1px solid #646464;
      border-width: 1px 1px 2px 1px;
      border-radius: 3px;
      font-family: MontSerrat,Tahoma,Arial,sans-serif;
      font-weight: 700;
      font-size: .9em;
      line-height: 1.5em;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
      margin: 3px;
      opacity: 1;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      padding: 6px 5px;
    }
    .selected {
      background-color: rgb(65, 65, 65);
      border-color: rgb(34, 34, 34);
    }
  }
  .work-info, .byte-info {
    list-style-type: none; 
    padding-left: 0;   
  }
  .work-preview-1 {
    width: 100%;
    img {
      width: 100%;
    }
  }
}