@import "config";

%homeheaderbig {
  text-align: right;
  font-family: $fontLogo;
  color: map-get($colors, app-light);
  font-weight: 400;
  line-height: 2.5;
  // margin-bottom: 5vh;
  text-transform: lowercase;
  position: relative;
  @include font-size($bigh-font-sizes);
  @include mq("tablet-wide") {
    line-height: 1.65;
    position: relative;
    margin-bottom: auto;
  }
}

%homeheader {
  text-align: right;
  font-family: $fontSecondary;
  color: map-get($colors, app-light);
  font-weight: 300;
  line-height: 0;
  margin-bottom: 5vh;
  text-transform: lowercase;
  position: relative;
  @include font-size($h1-font-sizes);
  @include mq("tablet-wide") {
    line-height: 0.5;
    position: relative;
    margin-bottom: auto;
  }
}

%header1 {
  text-align: center;
  font-family: $fontPrimary;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 800;
  color: map-get($colors, app-txt);
  @include font-size($h1-font-sizes);
}

%header2 {
  text-align: center;
  font-family: $fontPrimary;
  line-height: 2;
  font-weight: 400;
  color: map-get($colors, app-txt);
  @include font-size($h2-font-sizes);
}

%header3 {
  text-align: left;
  font-family: $fontSecondary;
  line-height: 1.25;
  @include font-size($h3-font-sizes);
}

%lightheader {
  color: map-get($colors, app-white);
}

%marker {
  font-family: $fontHandwriting;
  letter-spacing: 0.4rem;
  word-spacing: 0.2rem;
  @include font-size($bigh-font-sizes);
}

%paragraph {
  font-family: $fontSecondary;
  line-height: 1.75;
  word-break: break-word;
  @include font-size($p-font-sizes);
}

%btnprimary {
  font-family: $fontSecondary;
  line-height: 1.75;
  @include font-size($h3-font-sizes);
}

%btnsecondary {
  font-family: $fontSecondary;
  line-height: 1.75;
  @include font-size($h3-font-sizes);
}

%navlink {
  cursor: pointer;
  display: inline-block;
  font-family: $fontPrimary;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5;
  -moz-transition: map-get($animations, transition-1);
  -o-transition: map-get($animations, transition-1);
  -webkit-transition: map-get($animations, transition-1);
  transition: map-get($animations, transition-1);
  font-weight: 400;
  &.active,
  &:hover,
  &:focus {
    -moz-transition: map-get($animations, transition-1);
    -o-transition: map-get($animations, transition-1);
    -webkit-transition: map-get($animations, transition-1);
    transition: map-get($animations, transition-1);
  }
  @include font-size($h3-font-sizes);
}

%bloglink {
  text-decoration: none;
}

%list1 {
  padding-left: 0;
  list-style-type: none;
  li {
    font-family: $fontSecondary;
    line-height: 1.75;
    @include font-size($p-font-sizes);
  }
}

%overview {
  margin-top: 0;
  width: 100%;
  li {
    display: block;
  }
}

%pageheader {
  padding: 10rem 2rem 6rem;
  @include mq("tablet") {
    padding: 11rem 2rem 7rem;
  }
  @include mq("tablet-wide") {
    padding: 12rem 2rem 7rem;
  }
  @include mq("desktop") {
    padding: 14rem 2rem 13rem;
  }
}

%page {
  text-align: center;
  min-height: 150vh;
  padding: 2rem 2vw;
  background: map-get($colors, app-white);
  @include mq("tablet") {
    padding: 2rem 2.5vw;
  }
  @include mq("tablet-wide") {
    padding: 10rem 2.5vw;
  }
  @include mq("desktop") {
    padding: 10rem calc(50% - 600px);
  }
}

%homepage {
  text-align: center;
  min-height: 150vh;
  padding: 0;
  background: map-get($colors, app-white);
}

%blogpage {
  text-align: center;
  margin: 1rem auto;
  width: 85%;
  @include mq("tablet") {
    max-width: 900px;
  }
}
