@import "config";

%homeheader {
  text-align: right;
  font-family: $fontPrimary;
  color: map-get($colors, app-red-darker);
  font-weight: 400;
  line-height: 0;
  margin-bottom: 5vh;
  text-transform: lowercase;
  position: relative;
  @include font-size($h1-font-sizes);
  @include mq("desktop") {
    line-height: 0.5;
    position: relative;
  }
}

%header1 {
  text-align: center;
  font-family: $fontPrimary;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 800;
  @include font-size($h1-font-sizes);
}

%header1 {
  text-align: center;
  font-family: $fontPrimary;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 800;
  @include font-size($h1-font-sizes);
}

%header2 {
  text-align: center;
  font-family: $fontPrimary;
  line-height: 2;
  font-weight: 400;
  @include font-size($h2-font-sizes);
}

%header3 {
  text-align: left;
  font-family: $fontSecondary;
  line-height: 1.25;
  @include font-size($h3-font-sizes);
}

%marker {
  font-family: $fontHandwriting;
  letter-spacing: 0.4rem;
  word-spacing: 0.2rem;
  @include font-size($bigh-font-sizes);
}

%paragraph {
  font-family: $fontSecondary;
  line-height: 1.75;
  word-break: break-word;
  @include font-size($p-font-sizes);
}

%btnprimary {
  font-family: $fontSecondary;
  line-height: 1.75;
  @include font-size($h3-font-sizes);
}

%btnsecondary {
  font-family: $fontSecondary;
  line-height: 1.75;
  @include font-size($h3-font-sizes);
}

%navlink {
  display: inline-block;
  font-family: $fontPrimary;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5;
  color: rgba($color: map-get($colors, app-txt), $alpha: 0.7);
  font-weight: 400;
  &.active,
  &:hover,
  &:focus {
    color: rgba($color: map-get($colors, app-dark-light), $alpha: 1);
  }
  @include font-size($h3-font-sizes);
}

%bloglink {
  text-decoration: none;
}

%list1 {
  padding-left: 0;
  list-style-type: none;
  li {
    font-family: $fontSecondary;
    line-height: 1.75;
    @include font-size($p-font-sizes);
  }
}

%overview {
  margin-top: 0;
  width: 100%;
  li {
    display: block;
  }
}

%page {
  text-align: center;
  min-height: 100vh;
  padding: 2rem 2vw;
  background: map-get($colors, app-white);
  @include mq("tablet") {
    padding: 2rem 2.5vw;
  }
  @include mq("desktop") {
    padding: 2rem calc(50% - 600px);
  }
}

%homepage {
  text-align: center;
  min-height: 100vh;
  padding: 0;
  background: map-get($colors, app-gray-light);
}

%blogpage {
  text-align: center;
  margin: 1rem auto;
  width: 85%;
  @include mq("tablet") {
    max-width: 900px;
  }
}
