@import "config";

.container {
  min-height: 100vh;
  background: map-get($colors, app-white);
  // change background based on class
}

strong {
  font-weight: bold;
  text-transform: capitalize;
}

ul {
  padding-left: 0;
}

h1 {
  font-family: $fontPrimary;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 600;
  @include font-size($h1-font-sizes);
}

h2 {
  font-family: $fontPrimary;
  line-height: 2;
  @include font-size($h2-font-sizes);
}

h3,
button {
  font-family: $fontSecondary;
  line-height: 1.75;
  @include font-size($h3-font-sizes);
}

li,
p {
  font-family: $fontSecondary;
  line-height: 1.75;
  @include font-size($p-font-sizes);
}

code {
  display: inline-block;
  font-family: $fontCode;
  background: rgb(221, 221, 221);
  // @include font-size($sub-font-sizes);
}

.marker {
  font-family: $fontHandwriting;
}

.pg {
  text-align: center;
}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: dissolve;
  }
}
