@import "config";

strong {
  font-weight: bold;
  text-transform: capitalize;
}

ul {
  padding-left: 0;
}

h1 {
  font-family: $fontPrimary;
  line-height: 1.25;
  margin-bottom: 1rem;
  @include font-size($h1-font-sizes);
}

h2 {
  font-family: $fontPrimary;
  @include font-size($h2-font-sizes);
}

h3,
button {
  font-family: $fontSecondary;
  @include font-size($h3-font-sizes);
}

li,
p {
  font-family: $fontSecondary;
  line-height: 1.75;
  @include font-size($p-font-sizes);
}

code {
  font-family: $fontCode;
  @include font-size($sub-font-sizes);
}

.marker {
  font-family: $fontHandwriting;
}

.pg {
  text-align: center;
}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: dissolve;
  }
}
