@import "config";
@import "utils";

.app-header {
  background: map-get($colors, app-red-dark);
  color: map-get($colors, app-white);
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  @include mq("tablet-wide") {
    background: rgba($color: map-get($colors, app-white), $alpha: 0);
    position: absolute;
    top: 0;
    bottom: unset;
    left: 0;
  }
  #home-link {
    display: inline-block;
    @extend %navlink;
    @include mq("desktop") {
      width: 19%;
      text-align: center;
    }
  }
  ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    &.main-links {
      @include mq("desktop") {
        width: 79%;
        text-align: right;
        a {
          padding: 0 0.75rem;
        }
      }
      li {
        display: inline-block;
        a {
          @extend %navlink;
        }
      }
    }
  }
}

// Reduced motion queries
// @media (prefers-reduced-motion) {
//   .animation {
//     animation-name: dissolve;
//   }
// }
